<form name="tabemono">
<table>
    <caption>
      <h2>{{month}}月{{day}}日（{{date}}）食べたもの</h2>
      {{current | date: 'yyyy年M月d日（EEE）a hh時mm分ss秒'}}
    </caption>
    <tbody>
      <tr><td class="FdTime">朝</td><td><textarea class= "FdDtl" name="asa" rows="4" cols="40" placeholder="あさごはん"></textarea></td></tr>
      <tr><td class="FdTime">昼</td><td><textarea class= "FdDtl" name="hiru" rows="4" cols="40" placeholder="ひるごはん"></textarea></td></tr>
      <tr><td class="FdTime">夜</td><td><textarea class= "FdDtl" name="yoru" rows="4" cols="40" placeholder="よるごはん"></textarea></td></tr>
      <tr>
        <td colspan="2">
          <input class="INbtn" type="submit" value="◯">
          <input class="INbtn" type="reset" value="×">
        </td>
      </tr>
    </tbody>
</table>
</form>
